/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [UserID]
      ,[name]
      ,[ngay]
      ,[thang]
      ,[nam]
      ,[email]
      ,[password]
  FROM [DANGKI].[dbo].[DANGKI]